.home-container {
    background: #ffffff;
    width: 600px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.35);
    text-align: center;
    margin-top: 200px;
}

.home-container h1 {
    margin-bottom: 15px;
    color: #000;
}

.subtitle {
    margin-bottom: 30px;
    color: #555;
}

.home-content {
    margin-bottom: 30px;
    font-size: 15px;
    color: #333;
}

.logout-btn {
    padding: 12px 25px;
    background: #b40202;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #006aea;
}
